@import "tailwindcss";

.button{
  cursor: pointer;
}

@theme{
  --color-dark: rgba(19, 21, 34, 70);
  --color-darker: rgba(29, 31, 44, 50);
  --color-back: #444655;
  --color-white: #F7F8FF;
  --color-red: #B22222;
  --color-green: #ACF9F4;
  --color-gradient-0: #949599;
  --color-gradient-100: #F7F8FF;

  --text-xl: 1rem;
  --text-2xl: 1.25rem;
  --text-3xl: 1.5rem;
  --text-4xl: 1.75rem;
  --text-5xl: 2.75rem;
  --text-6xl: 3rem;
}

@layer utilities{
    .glass-thin{
    @apply bg-white/10 backdrop-blur-md border border-white/20 w-50 shadow-2xs;
  }

    .table-row{
    @apply bg-white/20 backdrop-blur-md border border-white/20 w-50 shadow-2xs;
  }

    .glass-normal{
    @apply bg-white/40 backdrop-blur-md border border-white/20 w-50 shadow-2xs;
  }

    .gradient-chart{
      @apply bg-gradient-to-t from-gradient-0 to-gradient-100 rounded-t-2xl;
    }
}